
/* ---------- BODY ---------- */

body {

    background:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.65)
        ),
        url("../img/fondooscuro.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    min-height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* ---------- NAVBAR ---------- */

.navbar {

    background: rgba(0,0,0,0.9) !important;
    border-bottom: 1px solid #222;
    backdrop-filter: blur(10px);
}

.navbar-brand {

    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* ---------- TITULOS ---------- */

h2 {

    font-weight: 600;
    color: white;
}

/* ---------- SLIDER CONTROL ---------- */

.glass-control {

    background: rgba(255,255,255,0.07);
    padding: 20px;
    border-radius: 15px;

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.15);

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* ---------- BOTON ---------- */

.btn-light {

    background: white;
    color: black;
    font-weight: 600;
    border-radius: 8px;
}

.btn-light:hover {

    background: #e6e6e6;
}

/* ---------- CARDS ---------- */

.canvas-card {

    background: rgba(255,255,255,0.05);

    border-radius: 15px;

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.15);

    box-shadow: 0 10px 25px rgba(0,0,0,0.4);

    transition: 0.3s;
}

.canvas-card:hover {

    transform: translateY(-6px);

    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

/* ---------- HEADER CARDS ---------- */

.card-header {

    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

/* ---------- CANVAS ---------- */

canvas {

    width: 100%;

    height: 65vh; /* ocupa solo el 65% de la pantalla */

    background: linear-gradient(#000000, #111111);

    border-radius: 10px;
}
/* ---------- FOOTER ---------- */

.footer {

    background: rgba(0,0,0,0.9);

    color: white;

    text-align: center;

    padding: 15px;

    font-size: 14px;

    margin-top: 40px;

    border-top: 1px solid #222;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 992px) {

    canvas {

        height: 260px;
    }
}

.btn-game {

    background: gray;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.btn-game:hover {

    background: #00ffff;
    transform: scale(1.05);
}

.btn-game.disabled {

    background: gray;
    color: white;
    cursor: not-allowed;
}

.btn-game.active {

    background: #00ff9c;
    color: black;
    box-shadow: 0 0 20px #00ff9c;
    animation: glow 1s infinite alternate;
}

@keyframes glow {

    from {
        box-shadow: 0 0 10px #00ff9c;
    }

    to {
        box-shadow: 0 0 25px #00ff9c;
    }
}
.game-panel {

    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    border: 1px solid #00ffff;
    box-shadow: 0 0 15px #00ffff;
}

/* CANVAS GRANDE */

.game-canvas-container {

    width: 95%;
    margin: auto;
    padding: 20px;

    background: rgba(0,0,0,0.85);
    border-radius: 15px;
    border: 1px solid #00ffff;

    box-shadow: 0 0 20px #00ffff;
}
.progress {

    height: 22px;
    background: #111;
    border-radius: 10px;
}

#porcentaje {

    min-width: 50px;
    text-align: left;
    font-size: 14px;
}
.progress-bar {

    transition: 0.4s;
}



/* PANTALLA FINAL */

.pantalla-final {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.95);

    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-align: center;
}